/* BitcoinCard.css */

.bitcoin-card {
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
}

.bitcoin-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.bitcoin-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bitcoin-details {
  flex: 1;
}

.bitcoin-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.bitcoin-details ul {
  list-style: none;
  padding: 0;
}

.bitcoin-details li {
  font-size: 16px;
  margin-bottom: 5px;
}
img {
  height: 50px;
  width: 50px;
  margin-top: 5px;
}
.card {
  width: 200px;
  height: 264px;
  background: black;
  border-radius: 15px;
  box-shadow: 1px 5px 60px 0px #100a886b;
  margin-right: 20px; /* Add horizontal gap between cards */
  margin-bottom: 20px;
}

.card .card-border-top {
  width: 60%;
  height: 3%;
  background: #6b64f3;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

.card span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.card .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
}

.card .img {
  width: 70px;
  height: 80px;
  background: white;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
}

.card button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  background: black;
  color: white;
  font-weight: 600;
}

.card button:hover {
  background: black;
}
a:link {
  background-color: white;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  width: 50px;
  margin-left: 70px;
}
a:active {
  color: red; /* Change color to red when active */
  /* Add any other styles you want for the active state */
}
